<div class="admin-panel">
	<h2>Saturn.io Settings</h2>
	<p>Global saturn.io settings are not yet configurable.</p>
	<h3>Twitter</h3>
	<p><a href="/twitter/setup">Configure Twitter</a></p>
	<h3>Foursquare</h3>
	<p><a href="/foursquare/setup">Configure Foursquare</a></p>
	<h3>Instagram</h3>
	<p><a href="/instagram/setup">Configure Instagram</a></p>
</div>