<p>We'll now authenticate your user account to the app...</p>
<p><a href="/twitter/oauth">Click here to authenticate</a></p>
<% if (is_setup) { %>
<p><strong>Your account has been connected!</strong> <a href="/admin/setup/<%= current_step+1 %>">Next Step</a></p>
<% } %>