<header>
  <div class="container">
    <div class="row">
	  <div class="big_fucking_error">
        <h1>OH SH*T!</h1>
        <div class="seven columns offset-by-two">
          <p>Can't find the page you're looking for. Maybe someone nuked it.</p>
        </div>
      </div>
      <script>$(document).ready(function () { $(".big_fucking_error").css("height", "1474px"); });</script>
    </div>
  </div>
</header>