<header>
  <div class="container">
    <div class="row">
	  <div class="big_fucking_error">
        <h1>OH SH*T!</h1>
        <div class="seven columns offset-by-two">
	      <p>Something really bad seems to have happened, please try refreshing the page or navigate back to <a href="/">home</a>.</p>
	      <p><%= error %></p>
        </div>
      </div>
      <script>$(document).ready(function () { $(".big_fucking_error").css("height", "1474px"); });</script>
    </div>
  </div>
</header>