<!DOCTYPE html> 
<html>
	<head>
		<title>saturn.io dashboard</title>
		<link rel="shortcut icon" type="image/x-icon" href="/images/saturn/favicon.ico">
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/960/960.css" />
		<link rel="stylesheet" href="/css/font-awesome.css" />
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/js/ejs_production.js"></script>
		<script type="text/javascript" src="/js/keymaster.min.js"></script>
		<script type="text/javascript" src="/js/saturn.js"></script>
	</head>
	<body>
		<%- partial('objects/nav') %>
		<div id="content">
				<%- flash_message() %>
				<%- body %>
		</div>
		
		<footer style="padding: 15px; text-align: center;">saturn.io</footer>
	</body>
</html>