<!DOCTYPE html> 
<html>
	<head>
		<title>saturn.io</title>
		<link rel="shortcut icon" type="image/x-icon" href="/images/saturn/favicon.ico">
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/960/reset.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/960/text.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/960/960.css" />
		<link href='http://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
		<style>
		body {
			margin: 0px;
			background-color: #000;
			color: #bbb;
			font-family: 'Helvetica Neue', Helvetica, sans-serif;
		}
		header {
			height: 224px;
			background: transparent url('/images/landing_page/header.jpg') top center no-repeat;
		}
		header h1 {
			display: none;
		}
		h1 {
			font-family: 'Days One', 'Helvetica Neue', Helvetica, sans-serif;
			font-size: 24px;
			margin: 1em 0 0.5em;
			font-weight: normal;
			letter-spacing: 0.05em;
		}
		p, li {
			font-size: 14px;
		}
		.container_12 {
			border-top: solid 2px #b2afae;
			background: transparent url('/images/landing_page/bg.jpg') top center no-repeat;
			min-height: 400px;
		}
		h1, strong {
			color: #eee;
		}
		ul li {
			color: #eee;
		}
		ul li p {
			color: #bbb;
		}
		</style>
	</head>
	<body>
		<header>
			<h1>Saturn.io</h1>
		</header>
		
		<div class="container_12">
			<div class="grid_4">
				<h1>WTF is it?</h1>
				<p>
					Saturn.io is a social media dashboard that allows you to tune into what your friends are doing, sharing, and liking online.
				</p>
				<p>
					Getting more data can result in more noise if you don’t have the right tools. While using saturn.io, it will learn what content and types of posts you like and highlight those posts while surpressing noise.
				</p>
				<p>
					Saturn.io is a server-based application that gathers all your friends content in the cloud so you can read it from any device.
				</p>
			</div>
			<div class="grid_4">
				<h1>Features</h1>
				<ul>
					<li>
						<strong>
							All your friends’ content in one place
						</strong>
						<br />
						<p>
							Some of your friends are on one network, and some are on others. Why go to multiple places when it can all come to you?
						</p>
					</li>
					<li>
						<strong>
							Find what’s interesting and relevant
						</strong>
						<br />
						<p>
					    	Learning from your reactions, saturn.io analyzes the content and characteristics of your friends’ posts, looking for trends and relationships.
						</p>
					</li>
					<li>
						<strong>
							Top posts from while you were away
						</strong>
						<br />
						<p>
					    	Saturn.io can keep track of what you have already seen. If you miss a day or a few hours, it can show you the most interesting posts during that time.
						</p>
					</li>
				</ul>
			</div>
			<div class="grid_4">
				<h1>Open Source</h1>
				<p>
					Saturn.io is free and open source!
				</p>
				<p>
					You can run Saturn.io anywhere you can run Node.js—at home, in the cloud, anywhere. While hosting it yourself requires a fair amount of technical know-how, it helps us focus on building a more advanced and powerful system instead of focusing on scaling a more basic, scalable one.
				</p>
			</div>
		</div>
		
		<footer style="padding: 15px; text-align: center;">saturn.io</footer>
	</body>
</html>