<%
if (typeof first_login != 'undefined') {
	first_login = first_login;
} else {
	first_login = false;
}
%><!DOCTYPE html> 
<html>
	<head>
		<title>saturn.io</title>
		<link rel="shortcut icon" type="image/x-icon" href="/images/saturn/favicon.ico">
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/960/reset.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/960/text.css" />
		<link rel="stylesheet" type="text/css" media="all" href="/css/960/960.css" />
		<link rel="stylesheet" href="/css/font-awesome.css" />
		<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/js/ejs_production.js"></script>
		<script type="text/javascript" src="/js/keymaster.min.js"></script>
		<script type="text/javascript" src="/js/saturn.js"></script>
	</head>
	<body>
		<header>
			<a style="float: right; margin-right: 40px;" class="brand" href="/"><img src="/images/saturn/logo_t.png" /></a>
		</header>
		
		<div class="container_12">
			<div class="grid_3">
				<ul class="nav nav-list">
					<li class="nav-header">Friends</li>
					<li><a href="/dashboard">Recent Posts</a></li>
					<li><a href="/dashboard/top">Top Posts</a></li>
					<li class="nav-header">Topics</li>
					<li><a href="/topic/trending">Trending</a></li>
					<li><a href="/topic/popular">Popular</a></li>
					<li class="nav-header">Settings</li>
					<li><a href="/cron/manage">Tasks</a></li>
				</ul>
			</div>
			<div class="grid_9">
				<%- body %>
			</div>
		</div>
		
		<footer style="padding: 15px; text-align: center;">saturn.io</footer>
	</body>
</html>
