var env = "development";
var envs = {};


// Default Environment (Overridden by above environments)
var conf = {
    db: "mongodb://localhost/saturn",
	port: 3000,
	live: false,
	secret: 'secret'
};


// Development Environment
envs.development = {
    db: "mongodb://localhost/saturn",
	base_url: "http://local.saturn.io:3000",
	port: 3000,
	live: false,
	secret: 'dev_secret_CHANGE_ME'
};


// Production Environment
envs.production = {
    db: "mongodb://localhost/saturn",
	base_url: "http://saturn.io",
	port: 1337,
	live: true,
	secret: 'production_secret_CHANGE_ME'
};


// Testing environment
envs.test = {
    db: "mongodb://localhost/saturn",
	port: 3000,
	live: false
};


// Load selected environment settings on top of default settings
for (var k in envs[env]) {
	conf[k] = envs[env][k];
}

exports.conf = conf;