<%
if (!settings) { settings = {}; } 
if (!settings.consumer_key) { settings.consumer_key = ""; } 
if (!settings.consumer_secret) { settings.consumer_secret = ""; } 
if (!settings.callback_url) { settings.callback_url = ""; } 
%>
<%- partial('admin/tabs', {tabs: [{
		text: "Twitter App",
		url: "/twitter/setup/app",
		selected: true
	}, {
		text: "Connect Account",
		url: "/twitter/setup/connect"
	}]}) %>
<div class="admin-panel">
<h1>Twitter Configuration</h1>
<p>
	Copy the details from your Twitter App, which you can find or create at <a href="https://dev.twitter.com/apps" target="_blank">https://dev.twitter.com/apps</a>
</p>
<p>
	<form method="post" action="/twitter/setup/app">
		<table>
			<tr>
				<td>
					<strong>Consumer Key:</strong> 
				</td>
				<td>
					<input name="settings[twitter][consumer_key]" value="<%= settings.consumer_key %>" />
				</td>
			</tr>
			<tr>
				<td>
					<strong>Consumer Secret:</strong> 
				</td>
				<td>
					<input name="settings[twitter][consumer_secret]" value="<%= settings.consumer_secret %>" />
				</td>
			</tr>
			<tr>
				<td>
					<strong>Callback URL:</strong> 
				</td>
				<td>
					<input name="settings[twitter][callback_url]" value="<%= settings.callback_url %>" />
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" value="Save &amp; Next" />
				</td>
			</tr>
		</table>
	</form>
</p>
<p>
	You may consider using these keys, but if you do, your app MUST be accessible at the same callback URL.
<pre>
consumer_key: LgLCjba8GAl4fwPVJFhdA
consumer_secret: ir1L5t0htKDN83ZZlX8pgdO15SbEH6rb0P797bvoAw
callback_url: http://local.saturn.io:3000/twitter/auth
</pre>
</p>
</div>