<div class="grid_3">
	<ul class="nav nav-list">
		<li class="nav-header">Friends</li>
		<li><a href="/dashboard">Recent Posts</a></li>
		<li><a href="/dashboard/top">Top Posts</a></li>
		<li class="nav-header">Topics</li>
		<li><a href="/topic/trending">Trending</a></li>
		<li><a href="/topic/popular">Popular</a></li>
		<li class="nav-header">Settings</li>
		<li><a href="/admin">Admin</a></li>
	</ul>
</div>
