<%

if (!topic.ratings.user_input) {
	topic.ratings.user_input = topic.ratings.overall;
}

%>
<h2><a href="/topic/view/<%= topic.id %>">Topic: <%= topic.text %></a></h2>
<a href="/topic/junk/<%= topic.id %>">(Is "<%= topic.text %>" not a topic?)</a>
<form method="post" action="/topic/rate/<%= topic.id %>">
	<input type="hidden" name="_method" value="put" />
	<input type="hidden" name="topic[_id]" value="<%= topic.id %>" />
<table width="100%">
	<tr class="">
		<td><input type="text" name="topic[ratings][user_input]" value="<%= topic.ratings.user_input %>" /></td>
		<td><input type="submit" value="Save" /></td>
	</tr>
</table>
</form>


<section class="activity-item-list stream-topic-<%= topic.id %>">
	
</section>

<script>
current_view = new ActivityView("topic-<%= topic.id %>", "");
<% items.forEach(function (item) { %>
current_view.add_item(<%- JSON.stringify(item) %>);
<% }) %>
</script>



<pre>
	<%- JSON.stringify(topic) %>
</pre>